.call-to-action {
  display: block;
  align-items: center;
  justify-content: center;
  background: #ff8932;
  color: white;
  box-shadow: 2px 3px 3px #666;
  font-weight: bold;
  max-width: 300px;
  margin: auto;
  border-radius: 30px;
}

.call-to-action a {
  padding: 10px 30px;
}

.call-to-action a:hover {
  box-shadow: 3px 6px 5px black;
}
