.Card {
  display: grid;
  background: white;
  border-radius: 30px;

  text-align: center;
  align-items: center;
  margin-bottom: 3%;
  align-content: start;
}

.Card__title {
  color: #ab1f26;
  font-family: "Anton", sans-serif;
  font-weight: normal;
}

.Card__image {
}

@media screen and (min-width: 426px) {
  .Card {
    padding: 3% 1%;
  }
}

@media screen and (max-width: 425px) {
  .Card {
    padding: 3% 5%;
  }
}
