
.OurProposalForStudents {
	display: grid;
	grid-template-columns: 1fr
}

.OurProposalForStudents__division {
  display: flex;
}

.OurProposalForStudents__division > section:nth-child(1) {
	margin-right: 5%;
}

.OurProposalForStudents__title {
	font-family: "Anton" sans-serif;
	font-size: 44px;
	color: white;
}
