.TeamMemberCard {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: white;
  border-radius: 30px;
  padding: 3% 5%;
}

.TeamMemberCard.inverse {
  text-align: right;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: white;
  border-radius: 30px;
  padding: 3% 5%;
}

.TeamMemberCard__description {
  font-size: 12px;
  color: #495057;
}

.TeamMemberCard__occupation {
  font-family: "Anton" sans-serif;
  font-size: 18px;
  color: #495057 
}

.TeamMemberCard__name {
   font-family: "Anton" sans-serif;
  font-size: 33px;
  color: #AB1F26 
}

.TeamMemberCard__photo {
  border-radius: 100%;
}