.TeamMemberCard {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: white;
  border-radius: 30px;
  padding: 3% 5%;
}

.TeamMemberCard.inverse {
  text-align: right;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: white;
  border-radius: 30px;
  padding: 3% 5%;
}

.TeamMemberCard__description {
  font-size: 16px;
}
